/* RESET CSS STARTS */ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, canvas, embed, output, ruby, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none
}
ol, ul {
	list-style: none;
}
a {
	border: none;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
/* RESET CSS ENDS */ 


/* COADING PART STARTS */
body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
 //-webkit-font-smoothing: antialiased;
 //-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;
	-webkit-text-size-adjust: none;
}
h1 {
	font-size: 22px;
	font-weight: 400;
	letter-spacing: -1px;
		margin: 0 0 25px 0px;
}
h2 {
	color: #333;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 40px;
	text-align: center;
}
h2 span {
	display: block;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 1.5;
	padding: 5px 0 0;
	text-align: center;
}
h2 a {
	color: #00add5;
}
h4 {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.3px;
	line-height: 26px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
p {
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.button, .signupnow-button a, .get-started a {
	background: #f0483e;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 50px;
	padding: 0 60px;
	margin: 25px 0 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
.content-wrap {
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}
.more-features a {
	border-bottom: 2px solid #00add5;
	color: #00add5;
	display: block;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin: 0 auto;
	max-width: 205px;
	padding: 0 0 5px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
.get-started a {
	border: 1px solid rgba(255,255,255,0.5);
	background: none;
}
.get-started a:hover {
	border: 1px solid rgba(255,255,255,1);
}
.logo, .apple-store, .google-play, .facebook, .twitter, .linkedin, .menu-icon, .sub-menu-icon, .footer-zohologo a, .windows-store, .play-icon, .openquote {
	background-image: url(../images/elogo.jpg);
	background-repeat: no-repeat;
	text-indent: -999em;
	display: inline-block;
}
.product .new, .product .upcoming, .app-box a span, .menu .store-icons span {
	background-image: url(../images/product-icon-sprite.png);
	background-repeat: no-repeat;
	text-indent: -999em;
	display: inline-block;
}
.learn-more {
	padding-top: 40px;
}
.learn-more a {
	background: #fff;
	border: 1px solid #ddd;
	color: #666;
	font-size: 14px;
	font-weight: 400;
	padding: 8px 20px;
	text-transform: uppercase;
}
/* HEADER PART STARTS */ 

.header {
	background: none repeat scroll 0 0 #ffffff;
	overflow: hidden;
	width: 100%;
	min-height: 40px;
	border-bottom: 1px solid #e8e8e8;
}
.logo {
  background-position: left top;
  background-size: cover;
  float: left;
  height: 40px;
  margin: 0px 0 10px 20px;
  text-indent: -999em;
  width: 89px;
}
.menu {
	float: left;
	min-width: 120px;
	padding: 0px 0px 0 15px;
}
.menu-icon, .mobile-menu, .msign, .sub-menu-icon, .mobile-banner {
	display: none;
}
.menu li {
	float: left;
}
.menu li a {
	-webkit-font-smoothing: auto;
	color: #aaa;
	display: block;
	font-size: 11px;
	font-weight: 600;
	line-height: 15px;
	padding: 10px 15px;
	text-transform: uppercase;
	transition: 0.25s ease 0s;
	-moz-transition: 0.25s ease 0s;
	-ms-transition: 0.25s ease 0s;
	-o-transition: 0.25s ease 0s;
	-webkit-transition: 0.25s ease 0s;
}
.header:hover .menu li a {
	color: #666;
}
.header:hover .menu .selected a {
	color: #000;
}
.mobile-menu li {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #444;
	padding-bottom: 15px;
}
.mobile-menu li a {
	font-size: 12px;
	color: #666;
	margin: 0;
	padding: 1px 0 0 30px;
	position: relative;
	line-height: 18px;
}
.menu ul li a {
	margin: 0;
	padding: 0 0 0 30px;
	position: relative;
	line-height: 18px;
}
.mobile-menu li span, .menu ul li span {
	background-image: url(../images/apps-sprite.png);
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
}
.menu ul {
	position: absolute;
	top: 60px;
	visibility: hidden;
	opacity: 0;
	z-index: 99999;
	width: 150px;
	background: #fff;
	border: 1px solid #e8e8e8;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05);
	box-shadow: 0 1px 3px rgba(0,0,0,0.05);
	margin-left: 10px;
	padding: 10px 25px 10px 25px;
	transition: 0.25s ease 0s;
	-moz-transition: 0.25s ease 0s;
	-ms-transition: 0.25s ease 0s;
	-o-transition: 0.25s ease 0s;
	-webkit-transition: 0.25s ease 0s;
}
.menu ul li {
	border-top: 1px solid #EEEEEE;
	padding: 10px 0;
	text-align: left;
	width: 100%;
}
.catagory-dropdown .mobileapps {
	background: none repeat scroll 0 0 #F7F7F7;
	border: medium none;
	margin: 0 -25px -10px;
	padding: 10px 25px;
	width: 100%;
}
.catagory-dropdown .mobileapps a {
	color: #666;
	font-size: 12px;
	line-height: 17px;
	padding: 2px 0 0;
	text-transform: uppercase;
}
.catagory-dropdown .mobileapps a span {
	display: none;
}
.menu ul li:first-child {
	border: none;
}
.menu .selected >a {
	color: #000000;
	cursor: pointer;
}
.signing .signin, .signing .signup {
	background: none repeat scroll 0 0 #fff;
	border: medium none;
	color: #333;
	display: inline-block;
	float: left;
	font-size: 12px;
	font-weight: 600;
	height: 33px;
	line-height: 35px;
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
}
.signing .signup {
	background: none repeat scroll 0 0 #f0483e;
	border: 1px solid #f0483e;
	color: #fff;
	line-height: 33px;
	float: right;
}
.signing .signin {
	color: #f0483e;
	display: none;
}
.signing .signup {
	display: none;
}
.signing .user-det {
	color: #444;
	font-size: 11px;
	min-width: 400px;
	position: absolute;
	right: 0;
	text-align: right;
	top: -16px;
}
.signing .goto-link {
	background-color: #f7f7f7;
	color: #2fa763;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	height: 35px;
	line-height: 34px;
	margin-left: 5px;
	padding: 0 12px;
	text-transform: capitalize;
}
.menu .menu-signup a:hover {
	color: #fff;
}
/* HEADER PARTS ENDS  */


/* NEW DROPDOWN CSS PART START */

.catagory-dropdown, .dropdown-mask {
	background: none repeat scroll 0 0 #fff;
	border: none;
	border-top: 1px solid #e8e8e8;
	left: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 35px;
	width: 100%;
	z-index: -10;
	overflow: hidden;
}
.catagory-inner {
	max-width: 100%;
	width: auto;
	opacity: 0;
	visibility: hidden;
	top: 10px;
	position: relative;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
.catagory-dropdown.addMe {
	visibility: visible;
	opacity: 1;
	z-index: 1100;
	top: 35px;
}
.dropdown-mask.showmask {
	visibility: visible;
	opacity: 1;
	z-index: 1000;
	height: 300px;
	background: #fff;
}
.catagory-inner.showMe {
	top: 0px;
	visibility: visible;
	opacity: 1;
}
.menu .app-box {
	border-bottom: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	border-top: medium none;
	display: block;
	float: left;
	max-width: 190px;
	min-height: 160px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}
.menu .product {
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	min-height: 110px;
	padding: 30px 20px 20px;
	position: relative;
	text-transform: none;
}
.menu .product em {
	display: block;
	font-style: normal;
	margin-top: 5px;
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	min-height: 50px;
	text-transform: none;
	color: #666;
}
.app-box a span {
	display: block;
	height: 32px;
	margin: 0 auto 5px;
	position: relative;
	width: 32px;
}
.product .new {
	position: absolute;
	left: 0;
	top: 0;
	background-position: -350px -148px;
	height: 13px;
	width: 30px;
	color: #666;
	font-size: 9px;
	font-style: normal;
}
.product .upcoming {
	background-position: -321px -131px;
	width: 60px;
}
.product .beta {
	background-position: right -115px;
	width: 30px;
}
.featured-app .product span {
	height: 64px;
	width: 64px;
}
.app-icon1 {
	background-position: left -205px;
}
.app-icon2 {
	background-position: -34px top;
}
.app-icon3 {
	background-position: -104px top;
}
.app-icon4 {
	background-position: -70px top;
}
.app-icon5 {
	background-position: -36px -34px;
}
.app-icon6 {
	background-position: -140px top;
}
.app-icon7 {
	background-position: -265px -208px;
}
.app-icon8 {
	background-position: -141px -68px;
}
.app-icon9a {
	background-position: -37px -66px;
}
.app-icon10 {
	background-position: -72px -208px;
}
.app-icon11 {
	background-position: -176px -68px;
}
.app-icon12 {
	background-position: -72px -68px;
}
.app-icon13 {
	background-position: -109px -68px;
}
.app-icon14 {
	background-position: -134px -205px;
}
.app-icon15 {
	background-position: -35px -104px;
}
.app-icon15a {
	background-position: -68px -100px;
}
.app-icon16 {
	background-position: -38px -138px;
}
.app-icon17 {
	background-position: -330px -205px;
}
.app-icon18 {
	background-position: -175px top;
}
.app-icon19 {
	background-position: -195px -205px;
}
.app-icon20 {
	background-position: -38px -171px;
}
.app-icon21 {
	background-position: -213px -68px;
}
.app-icon22 {
	background-position: left -205px;
}
.app-icon23 {
	background-position: left -205px;
}
.app-icon24 {
	background-position: -210px top;
}
.app-icon25 {
	background-position: -71px -175px;
}
.app-icon26 {
	background-position: -242px top;
}
.app-icon27 {
	background-position: -100px -101px;
}
.app-icon27a {
	background-position: -64px -87px;
}
.app-icon28 {
	background-position: -135px -102px;
}
.app-icon29 {
	background-position: -242px -66px;
}
.app-icon30 {
	background-position: -270px 0;
}
.app-icon31 {
	background-position: -274px -66px;
}
.app-icon32 {
	background-position: -68px -32px;
}
.app-icon33 {
	background-position: -102px -175px;
}
.app-icon34 {
	background-position: -100px -32px;
}
.menu .featured-app {
	border-bottom: medium none;
	border-right: 1px solid #f2f2f2;
	float: left;
	max-width: 240px;
	min-height: 202px;
	padding: 60px 30px;
	text-align: center;
	transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	-o-transition: all 0.35s ease 0s;
	-ms-transition: all 0.35s ease 0s;
	-webkit-transition: all 0.35s ease 0s;
}
.featured-app .product {
	font-size: 24px;
	line-height: 32px;
	padding: 0;
}
.featured-app .product em {
	color: #666;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin: 5px auto 10px;
	max-width: 204px;
	min-height: 5px;
}
.more-detail {
	padding: 10px 0 0;
	font-size: 12px;
	color: #999;
	font-weight: 300;
	display: none;
}
.menu .more-detail a {
	display: inline;
	padding: 0 5px;
}
.menu .more-detail a:last-child {
	color: #e5675f;
}
.store-icons {
	color: #999;
	display: none;
	font-size: 12px;
	font-weight: 300;
	opacity: 0.15;
}
.menu .store-icons span {
	height: 18px;
	margin: 0 3px;
	padding: 0;
	width: 18px;
	cursor: default;
}
.menu .no-border {
	border-bottom: 1px solid #f2f2f2;
}
.header:hover .menu li a {
	color: #333;
}
.finance .catagory-inner, .business-proc .catagory-inner {
	max-width: 100%;
}
.store-icons .apple-icon {
	background-position: -294px -175px;
}
.store-icons .gplay-icon {
	background-position: -325px -174px;
}
.store-icons .window-icon {
	background-position: -355px -175px;
}
.menu .sales-marketing:hover {
	box-shadow: 0 -2px 0 #00add5 inset;
	-webkit-box-shadow: 0 -2px 0 #00add5 inset;
}
.menu .email-collab:hover {
	box-shadow: 0 -2px 0 #00add5 inset;
	-webkit-box-shadow: 0 -2px 0 #00add5 inset;
}
.menu .help-desk:hover {
	box-shadow: 0 -2px 0 #00add5 inset;
	-webkit-box-shadow: 0 -2px 0 #00add5 inset;
}
.menu .business-proc:hover {
	box-shadow: 0 -2px 0 #00add5 inset;
	-webkit-box-shadow: 0 -2px 0 #00add5 inset;
}
.menu .finance:hover {
	box-shadow: 0 -2px 0 #00add5 inset;
	-webkit-box-shadow: 0 -2px 0 #00add5 inset;
}
.menu .hr:hover {
	box-shadow: 0 -2px 0 #00add5 inset;
	-webkit-box-shadow: 0 -2px 0 #00add5 inset;
}
.menu .sales-marketing, .menu .email-collab, .menu .help-desk, .menu .business-proc, .menu .finance, .menu .hr {
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-ms-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
}
.product-hover {
	bottom: 20px;
	left: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	-ms-transition: all 0.35s ease 0s;
	-o-transition: all 0.35s ease 0s;
	-webkit-transition: all 0.35s ease 0s;
}
.product-hover .more-detail {
	padding: 5px 0 10px;
}
.app-box:hover {
	border-bottom: 1px solid #333;
}
.sales-marketing .app-box:hover {
	border-bottom: 1px solid #00add5;
}
.email-collab .app-box:hover {
	border-bottom: 1px solid #00add5;
}
.help-desk .app-box:hover {
	border-bottom: 1px solid #00add5;
}
.business-proc .app-box:hover {
	border-bottom: 1px solid #00add5;
}
.finance .app-box:hover {
	border-bottom: 1px solid #00add5;
}
.hr .app-box:hover {
	border-bottom: 1px solid #00add5;
}
.sales-marketing .featured-app:hover {
	border-bottom: 0px solid #00add5;
	box-shadow: 0 -3px 0 #00add5 inset;
	-webkit-box-shadow: 0 -3px 0 #00add5 inset;
}
.email-collab .featured-app:hover {
	border-bottom: 0px solid #00add5;
	box-shadow: 0 -3px 0 #00add5 inset;
	-webkit-box-shadow: 0 -3px 0 #00add5 inset;
}
.help-desk .featured-app:hover {
	border-bottom: 0px solid #00add5;
	box-shadow: 0 -3px 0 #00add5 inset;
	-webkit-box-shadow: 0 -3px 0 #00add5 inset;
}
.business-proc .featured-app:hover {
	border-bottom: 0px solid #00add5;
	box-shadow: 0 -3px 0 #00add5 inset;
	-webkit-box-shadow: 0 -3px 0 #00add5 inset;
}
.finance .featured-app:hover {
	border-bottom: 0px solid #00add5;
	box-shadow: 0 -3px 0 #00add5 inset;
	-webkit-box-shadow: 0 -3px 0 #00add5 inset;
}
.hr .featured-app:hover {
	border-bottom: 0px solid #00add5;
	box-shadow: 0 -3px 0 #00add5 inset;
	-webkit-box-shadow: 0 -3px 0 #00add5 inset;
}
.featured-app:hover {
	border-bottom: 0px solid #333;
	box-shadow: 0 -3px 0 #333 inset;
	-moz-box-shadow: 0 -3px 0 #333 inset;
	-ms-box-shadow: 0 -3px 0 #333 inset;
	-o-box-shadow: 0 -3px 0 #333 inset;
	-webkit-box-shadow: 0 -3px 0 #333 inset;
}
/* NEW DROPDOWN CSS PART START ENDS */


/*  TOP PRODUCT HEADER PARTS STARTS */

.product-header-top .product-logo, .product-header-top .product-menu li a {
	color: #333;
}
.product-header-top {
	background: #fff;
	max-width: 100%;
	position: relative;
	transition: 0.25s ease 0s;
	-moz-transition: 0.25s ease 0s;
	-ms-transition: 0.25s ease 0s;
	-o-transition: 0.25s ease 0s;
	-webkit-transition: 0.25s ease 0s;
	margin: 0 auto;
 //overflow: hidden;
	z-index: 100;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #efefef\9; /* IE 8 and below */
}
.product-header-top {
	position: fixed;
	width: 100%;
	top: 0px;
}
.slide {
	top: -75px;
}
.product-header-top .product-header-inner {
	max-width: 100%;
	border: none;
	padding: 0 0 0 20px;
}
.product-header-top .product-logo {
	background-image: url(../images/product-common-sprite.png);
	background-position: left -377px;
	height: 52px;
	line-height: 54px;
	margin: 0;
	padding: 0 0 0 75px;
}
.product-header-top .signing {
	margin: 0 0 0 20px;
}
.product-header-top .product-menu li a {
	padding: 15px 0 16px;
}
.product-header-inner .signup {
	height: 27px;
	line-height: 27px;
	margin: 12px 12px 0 0;
	padding: 0 15px;
}
.product-header-inner .signin {
	display: none!important;
}
/* TOP PRODUCT HEADER PARTS ENDS */


/* PRODUCT HEADER PARTS STARTS */

.banner-inner h1, .banner-inner p, .product-logo, .product-menu li a, .white-label h3 a {
	color: #fff;
	text-shadow: none;
}
.product-header {
	max-width: 100%;
	position: relative;
	transition: 0.25s ease 0s;
	-moz-transition: 0.25s ease 0s;
	-ms-transition: 0.25s ease 0s;
	-o-transition: 0.25s ease 0s;
	-webkit-transition: 0.25s ease 0s;
	margin: 0 auto;
	overflow: hidden;
}
.product-header-inner {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid rgba(255, 255, 255, 0.35);
	position: relative;
	z-index: 9;
}
.product-logo {
	float: left;
	display: block;
	height: 50px;
	line-height: 44px;
	padding: 0 0 0 60px;
	font-size: 21px;
	font-weight: 600;
	margin-top: 15px;
	background-position: left top;
}
.product-menu {
	float: right;
	height:30px;
}
.product-menu li {
	float: left;
	margin-left: 40px;
}
.product-menu li:first-child {
	margin-left: 35px;
}
.product-menu li a {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	padding: 25px 0;
}
.product-menu .selected {
	box-shadow: 0 -2px 0 #00add5;
	-webkit-box-shadow: 0 -2px 0 #00add5;
}
/* PRODUCT HEADER PARTS ENDS */
 

/* FOOTER PARTS STARTS */

.footer-links {
	border-bottom: 1px solid #e2e2e2;
	margin: 0 auto 40px;
	max-width: 680px;
	overflow: hidden;
	padding: 10px 5% 40px;
}
.footer-links ul {
	float: left;
	overflow: hidden;
	padding-left: 15%;
}
.footer-links ul:first-child {
	padding-left: 0;
}
.footer-links li {
	color: #222222;
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	padding: 5px 0;
	text-align: left;
}
.footer-links li:first-child {
	padding: 0 0 12px;
	text-transform: uppercase;
}
.footer-links li a {
	color: #555555;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}
.footer {
	background: #f1f1f1;
	color: #919293;
	
	text-align: center;
	border-top: 1px solid #e2e2e2;
}
/* common footer part */
.common-footer {
	overflow: hidden;
	color: #919293;
	text-align: center;
}
.common-footer p {
	color: #333;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	margin: 5px auto;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.common-footer ul {
	margin: 0 auto 15px;
	max-width: 680px;
	overflow: hidden;
	padding: 0 3%;
}
.common-footer li:first-child {
	border-left: medium none;
}
.common-footer li {
	border-left: 1px solid #ccc;
	display: inline-block;
	float: left;
	line-height: 0;
	overflow: hidden;
	padding: 0 12px;
}
.common-footer li a {
	color: #333333;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}
.zoho-links {
	color: rgba(200,200,200,0.05);
	margin: 12px 0;
	font-size: 14px;
}
.zoho-links a {
	font-size: 12px;
	color: #333;
	display: inline-block;
	padding: 0 8px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.social-icons {
	margin: 15px auto 0;
	overflow: hidden;
	text-align: center;
	width: 140px;
}
.social-icons a {
	text-align: center;
	width: 45px;
	height: 24px;
	display: block;
	float: left;
	text-indent: -9999px;
	opacity: 0.8;
}
.footer-zohologo a {
	margin: 15px 0 0;
	width: 52px;
	height: 18px;
	background-position: left -283px;
}
.facebook {
	background-position: 15px -200px;
}
.twitter {
	background-position: -35px -200px;
}
.linkedin {
	background-position: -80px -200px;
	border: none
}
/* footer one-liner starts  */

.footer .one-liner {
	margin: 0 auto 40px;
	max-width: 800px;
	padding: 10px 10% 20px;
}
.footer .one-liner ul {
	float: none
}
.footer .one-liner li {
	display: inline-block;
	padding: 0 15px 20px;
}
.footer .one-liner li:first-child {
	text-transform: none;
}
.footer .one-liner li a {
	font-size: 14px;
	color: #333;
}
/* footer one-liner ends */
/* four column footer */
.footer-four-col .next-heading {
	padding-top: 20px;
	text-transform: uppercase;
}
.footer-customers li {
	position: relative;
	padding: 15px 0 5px;
}
.footer-customers a {
	padding-left: 55px;
	display: block;
}
.footer-customers span {
	color: #999;
	display: block;
	font-size: 12px;
	font-style: italic;
	padding-top: 3px;
}

@media screen and (min-width: 1200px) {
.footer-four-col {
	max-width: 1200px;
	padding: 50px 2% 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.footer-four-col ul {
	padding-left: 8.5%
}
.footer-four-col .next-heading {
	padding-top: 20px;
}
.footer-customers li {
	position: relative;
	padding: 15px 0 5px;
}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
.footer-four-col {
	max-width: 980px;
}
.footer-four-col .footer-customers {
	padding-left: 0;
	padding-top: 30px;
}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.footer-four-col {
	max-width: 740px;
}
.footer-four-col ul {
	padding-left: 12%;
}
.footer-four-col .footer-customers {
	padding-left: 0;
	padding-top: 30px;
}
}

@media screen and (max-width: 767px) {
.footer-four-col ul {
	float: none;
	padding-left: 0;
	padding-top: 30px;
}
}
/* End of four column footer */

/* FOOTER PART ENDS */

 
/*~~~~~ MAIN CONTENT PART STARTS ~~~~~*/


/* BANNER PART STARTS */
.main {
	overflow: hidden;
	clear: both;
	margin-top: -74px;
}
.banner-part {
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	min-height:600px;
}
.banner-part:before {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.banner-inner {
	box-sizing: border-box;
	overflow: hidden;
	padding: 163px 0;
	position: relative;
	text-align: left;
}
.banner-content {
	padding: 50px 5%;
	width: 50%;
	float: left;
}
.banner-content p {
	font-size: 18px;
	line-height: 26px;
	padding: 0 0 10px 0;
	position: relative;
	color: #d5d5d5;
	max-width: 700px;
}
/*.banner-content p:after {
	border-bottom: 1px solid #fff;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	width: 36px;
}
*/
.signupnow-button {
	display: none;
}
.getstarted-box {
	max-width: 100%;
	overflow: hidden;
	padding: 0;
}
.watch-video, .watch-story {
	color: #d5d5d5;
	cursor: pointer;
	font-size: 15px;
	margin: 0;
	max-width: 155px;
	padding: 12px 0;
	z-index: 9;
	text-transform: uppercase;
}
.play-icon {
	background-position: -32px -323px;
	float: left;
	height: 20px;
	margin-right: 8px;
	width: 22px;
}
.banner-content.banner-center {
	padding: 0 5%;
	text-align: center;
	width: 90%;
}
.banner-center p {
	margin: 0 auto;
}
/* BANNER SIGNUP PART STARTS */

.signup {
	display: none !important;
}
.product-header-inner > .signing .signup {
	display: block !important;
}
.signup-box {
	float: right;
	position: relative;
	right: 5%;
	margin-top:5% !important;
	max-width: 350px;
	width: 100%;
 //opacity:0;
 //visibility:hidden;
	-webkit-transition: 0.7s ease;
	transition: 0.7s ease;
}

.signup-box-sim {
  background: #fff none repeat scroll 0 0;
  border: 5px solid #ececec;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
  height: auto;
  margin: 0 auto;
  max-width: 350px;
  padding: 25px;
  position: relative;
  transition: all 0.7s ease 0s;
  width: 100%;
}

p.pro-heading {
  color: #000;
  font-size: 24px;
  margin: 10px 5px;
  text-align: left;
}

select.project_form {
  height: 33px;
  width: 133px;
}

a.Go-back {
  float: right;
  height: auto !important;
  padding: 2px !important;
  text-align: center;
  text-decoration: none;
}

.project_form_label {
  float: left;
  padding: 5px;
  width: 153px;
}

.logo_upload {
  float: left;
  width: 173px !important;
}

.project_form {
  float: left;
  margin-bottom: 10px;
}

.signup_frm .signup-heading {
	color: #fff;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
	margin: 0 0 10px;
	text-align: left;
}
/* SIGNUP FORM CSS STARTS */

.end_pop, .confirm_pop {
	margin: 20px auto 0;
	overflow: hidden;
	padding: 0 10px 50px;
	position: relative;
	width: 840px;
}
.endpopsb {
	border-bottom: 2px solid #000000;
	padding-bottom: 25px;
}
.thank_tit {
	color: #333333;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: -0.5px;
	line-height: 56px;
	margin: 0 0 20px;
	max-width: 100%;
	text-align: center;
	text-transform: uppercase;
}
#new_zohosignup {
}
.thank_tit span {
	font-weight: 300;
}
.sub_inftxt {
	color: #888888;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin: 0 auto;
	text-align: center;
}
.sub_inftxt span {
	color: #333;
}
.signup_frm, .thank_titmn {
	margin: 30px auto 0;
	min-height: 90px;
}
.signup_frm {
	background: none repeat scroll 0 0 transparent;
	margin: 0;
	padding: 0;
	position: relative;
}
.sgnusrname, .sgnpaswrd, .sgnemail, .zs-txtfldnew {
  -moz-appearance: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(255, 255, 255, 0) none repeat scroll 0 0 !important;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.4) !important;
  border-image: none;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #fff !important;
  display: block;
  float: left;
  font-size: 14px !important;
  font-weight: 400;
  margin-bottom: 7px !important;
  outline: medium none !important;
  padding: 12px 0 5px !important;
  position: relative;
  transition: all 0.7s ease 0s;
  width: 100%;
  z-index: 9;
}
.sgnusrname:focus, .sgnpaswrd:focus, .sgnemail:focus, .zs-txtfldnew:focus {
	border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
.placeholder {
	color: #ddd;
	font-size: 14px;
	font-weight: 400;
	left: 0;
	position: absolute;
	top: 20px;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	z-index: 7;
}
.added-placeholder .placeholder {
	top: 0;
	font-size: 12px;
	color: #aaa;
}
.focusin {
	border: 1px solid #00add5;
}
.signup-box input::-webkit-input-placeholder {
 color: rgba(255,255,255,0.55);
}
.signup-box input:focus::-webkit-input-placeholder {
 color: rgba(255,255,255,0.75);
}

/* Firefox < 19 */
.signup-box input:-moz-placeholder {
 color: rgba(255,255,255,0.55);
 font-size:14px;
}
.signup-box input:focus:-moz-placeholder {
 color: rgba(255,255,255,0.75);
}

/* Firefox > 19 */
.signup-box input::-moz-placeholder {
 color: rgba(255,255,255,0.55);
 font-size:14px;
}
.signup-box input:focus::-moz-placeholder {
 color: rgba(255,255,255,0.75);
}

/* Internet Explorer 10 */
.signup-box input:-ms-input-placeholder {
 color: rgba(255,255,255,0.55);
}
.signup-box input:focus:-ms-input-placeholder {
 color: rgba(255,255,255,0.75);
}
input:focus, input:active {
	outline: none;
}
.za-captcha-container {
	clear: both;
	display: none;
	padding: 10px 0;
	text-align: left;
}
.zs-txtfldnew {
	display: inline-block;
	padding: 12px 0 5px;
	width: 100%;
}
.sgnbtnmn {
	clear: both;
	overflow: hidden;
}
.sgnbtn {
	clear: both;
	float: none;
	height: 46px;
	padding-left: 0;
}
.sgnbtn input {
	background-color: #f0483e !important;
	border: 1px solid #f0483e important;
	border-color: #f0483e !important;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	color: #ffffff !important;
	cursor: pointer;
	font-size: 16px !important;
	height: 46px;
	padding: 5px 0;
	position: relative;
	width: 100%;
	z-index: 99;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-transform: uppercase;
	background-image:none !important;
	opacity: 1;
}
.signbtm-msg {
	border-top: 1px solid #d9d9d9;
	font-size: 14px;
	margin: 20px 20px 20px 0px;
	padding-top: 20px;
	text-align: center;
}
.snews-letter {
	color: #444444;
	font-size: 12px;
	height: 0;
	margin: 0;
	opacity: 0;
	padding-left: 0;
	visibility: hidden;
}
.sign_agree {
	color: #999;
	font-size: 10px;
	line-height: 16px;
	padding-bottom: 20px;
	margin-top: 5px;
	text-align: left;
	width: 330px;
}
.sign_agree a {
	color: inherit;
	text-decoration: underline;
}
.sign_agree:hover {
	color: #ccc;
}
.sgfrm .field {
	color: #666666;
	font-size: 13px;
	font-weight: 600;
	left: 0;
	position: absolute;
	text-transform: uppercase;
	top: 10px;
}
.signup_error, .jqval-error, .error {
	color: #F0483E;
	float: left;
	font-size: 14px;
	margin: 0 0 7px;
	padding: 3px 0;
	text-align: left;
}
.field-msg .jqval-error {
	display: none !important;
}
.field-msg .jqval-error a {
	color: #00add5;
	text-decoration: underline;
	display: inline-block;
	padding-left: 5px;
}
.za-captcha-container .error.jqval-error {
	display: block !important;
	width: 100%;
}
.portalName {
	text-align: left;
}
.field-error .error {
	display: inline-block !important;
}
.password-strength {
	text-align: left;
	clear: both;
}
.password-strength div {
	color: #FE0000;
	display: block;
	margin: 0;
	overflow: hidden;
	padding-top: 5px;
}
:-moz-placeholder {
 color: #A5A0A0;
}
.new-signup-formate {
	border-top: 1px dotted #ddd;
	bottom: 80px;
	margin: 0 35px;
	overflow: hidden;
	padding: 30px 0 0;
	position: absolute;
	width: 450px;
	z-index: 99;
}
.new-signup-formate h3 {
	color: #333333;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 15px;
	margin-top: 20px;
	position: relative;
	text-align: center;
}
.new-signup-formate h3 span {
	font-weight: 800;
}
.signup-twocol {
	max-width: 450px;
}
.two-input .sgfrm {
	float: left;
	width: 48%;
	margin-right: 2%;
}
.two-input .sgfrm:last-child {
	float: left;
	width: 50%;
	margin-right: 0%;
}
/* SIGNIN USING SOCIAL MEDIAS CSS STARTS */
 
.socl-signup {
	margin: 0;
	overflow: hidden;
	padding: 15px 0 0;
	text-align: right;
}
.socl-signup p {
	color: #aaa;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	padding: 0;
	position: relative;
	text-align: right;
	top: -5px;
}
.socl-signup ul {
	display: inline-block;
}
.socl-signup ul li {
	background-image: url(../images/social-signin-sprite.png);
	background-position: 4px 1px;
	background-repeat: no-repeat;
	color: #496faf;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	height: 20px;
	margin: 0 0 0 10px;
	opacity: 0.7;
	padding: 0;
	text-align: left;
	text-indent: -99999em;
	width: 20px;
	display: inline-block;
	line-height: 25px;
	float: right;
}
.socl-signup ul li:hover {
	opacity: 1;
}
.socl-signup .vi-google {
	background-position: 4px 1px;
}
.socl-signup .vi-linkedin {
	background-position: -98px 1px;
}
.socl-signup .vi-office365 {
	background-position: -202px 1px;
}
.socl-signup .vi-twitter, .socl-signup .vi-facebook, .socl-signup .vi-yahoo, .socl-signup .vi-gapps {
	display: none;
}
.idpform {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 0 0 25px 0;
	width: 100%;
}
.idpform .sub-domain {
	color: #ccc;
	display: inline-block;
	font-size: 14px;
	left: 7px;
	margin-right: 0;
	opacity: 0;
	position: absolute;
	top: 25px;
}
.idpform[novalidate="true"] .sub-domain {
	opacity: 1;
}
.idpform .error {
	bottom: 0;
	color: #f0483e;
	display: block;
	float: none;
	font-size: 14px;
	margin-bottom: 0;
	padding: 0 0 0 10px;
	position: absolute;
	text-align: left;
}
.small-input {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 13px;
	line-height: 18px;
	margin-top: 15px;
	padding: 10px 10px 10px 45px;
	width: 78%;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	outline: medium none;
}
.signupbtn.openidbtn {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #00add5;
	border: medium none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 12px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	padding: 0;
	position: relative;
	text-transform: uppercase;
	width: 21.5%;
	z-index: 99;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	outline: medium none;
}

.confirmn {
	font-size: 13px;
	margin-top: 30px;
}
.confirmn_msg {
	color: #777777;
	line-height: 23px;
}
.confirmn_msg a {
	font-weight: 600;
	margin: 4px 0;
}
.signup_frm .create-new {
	color: #fff;
 //cursor: pointer;
	font-size: 22px;
	font-weight: 300;
	margin: 0 0 25px;
	text-align: left;
}
.sgfrm {
	box-sizing: border-box;
	overflow: auto;
	padding-bottom: 5px;
	padding-left: 0;
	padding-top: 16px;
	position: relative;
	width: 100%;
}
.zoho-logo {
	padding: 0 5px;
	position: relative;
	top: 2px;
}
.zp-signupSuccess {
	margin: 45px auto 12px;
	max-height: 2500px;
	min-height: 600px;
	padding: 20px;
	position: relative;
	width: 380px;
	z-index: 1000;
}
.zp-awesome {
	color: #666666;
	font-size: 28px;
	text-align: center;
}
.zp-successTxt {
	color: #666666;
	font-size: 14px;
	margin-top: 25px;
	text-align: center;
}
.za-email-suggestion {
	color: #fff;
}
/* SIGNIN USING SOCIAL MEDIAS CSS ENDS */


/* SIGNUP FORM CSS ENDS */





/* FEATURES PART STARTS */

.features {
	margin: -90px auto 0;
	overflow: hidden;
	padding: 0 5% 60px;
	position: relative;
	z-index: 1;
}
.features h2 {
	padding: 0 0 50px;
}
.features-wrap h2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 1px;
 //background:#333;
}


/* FEATURES PART ENDS */


/*~~~~~ MAIN CONTENT PART ENDS ~~~~~*/


.error-msg > li {
  color: red;
}

.userinfo-details .userinfo-avatar {
	position: absolute;
	top: 0;
	float: left;
	width: 35px;
	height: 35px;
	margin: 0;
	cursor: pointer;
	-webkit-filter: grayscale(1);
	transition: height .2s, width .2s, margin .2s;
	-moz-transition: height .2s, width .2s, margin .2s;
	-webkit-transition: height .2s, width .2s, margin .2s;
	-ms-transition: height .2s, width .2s, margin .2s;
	-o-transition: height .2s, width .2s, margin .2s;
}
.account-signout-details .userinfo-account {
	color: #4265af;
	display: inline-block;
	font-size: 12px;
	padding: 13px 15px;
}
.userinfo-details.zoho-expand .userinfo-avatar {
	position: absolute;
	top: 0;
	width: 70px;
	height: 70px;
	margin: 10px 0 0 10px;
	border-left: 0 solid #DDD;
	cursor: default;
	filter: none;
	-webkit-filter: grayscale(0);
}
.userinfo-details.zoho-expand, .product-header-top .userinfo-details.zoho-expand {
	width: 285px;
	height: 135px;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e8e8e8;
	box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.12), -6px 6px 11px -4px rgba(0, 0, 0, 0.12);
}

.product-header-top .userinfo-details .userinfo-avatar {
	margin-top: 9px;
}
.product-header-top .userinfo-details, .product-header-top .userinfo-container {
	height: 43px;
	padding-right: 10px
}
.userinfo-container {
	position: relative;
	z-index: 100;
	float: right;
	width: 35px;
	height: 35px;
}
.header .userinfo-thumb {
	float: right;
	height: 35px;
	width: 35px;
}
#userinfo-name {
	color: #333;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	max-width: 200px;
	overflow-x: hidden;
	padding: 5px 0 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.signing #userinfo-thumb {
	float: left;
	height: 35px;
	width: 35px;
	margin-right: -40px;
	cursor: pointer;
	transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
}
.product-header-inner #userinfo-thumb {
	margin-right: 12px;
	margin-top: 9px;
}
.account-signout-details {
	border-top: 1px solid #eee;
	clear: both;
	position: relative;
	top: 10px;
}
#userinfo-signout {
	background: #efefef;
	color: #333;
	display: block;
	font-size: 11px;
	font-weight: 400;
	height: 26px;
	line-height: 26px;
	position: absolute;
	right: 15px;
	text-align: center;
	text-transform: uppercase;
	top: 8px;
	width: 90px;
}
#userinfo-signout:hover {
	background: #eaeaea;
}
.signing {
	float: right;
	width: auto;
}
.product-header-inner .goto-link {
	margin: 9px 0 0 0;
}

@media only screen and (max-width : 400px) {
.userinfo-details .userinfo-access {
	font-size: 13px;
}
.signing .goto-link {
	display: none;
}
.userinfo-details.zoho-expand, .product-header-top .userinfo-details.zoho-expand {
	width: 320px;
}
}
/* USER LOGIN INFO CONTAINER ENDS */

.acc_content {
  float: left;
  width: 90%;
}

font-weight: 700;


/*Styles for front page*/

.signupbtn{
         opacity:.3;
         }
         .quick-link-wrap {
         display: none;
         opacity: 1;
         -webkit-transition: all 0.3s ease-out;
         -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
         transition: all 0.3s ease-out;
         }
         .download-apps {
         padding: 0 5% 42px;
         }
         /* Quick Links CSS */
         .quick-links h4 span, .quick-links li, .ql-open {
         background-image: url('../images/prd-common-sprite.png');
         background-repeat: no-repeat;
         display: inline-block;
         }
         .quick-links {
         background: none repeat scroll 0 0 #fff;
         border: 1px solid #eee;
         margin-top: -95px;
         max-height: 215px;
         position: fixed;
         right: -200px;
         top: 50%;
         width: 200px;
         z-index: 1010;
         }
         .animateSmooth {
         transition: all 1s ease 0s;
         -webkit-transition: all 1s ease 0s;
         -moz-transition: all 1s ease 0s;
         -ms-transition: all 1s ease 0s;
         -o-transition: all 1s ease 0s;
         }
         .quick-links h4 {
         border-bottom: 1px solid #f5f5f5;
         color: #333;
         cursor: pointer;
         font-size: 11px;
         font-weight: 600;
         padding: 7px 20px;
         text-transform: uppercase;
         }
         .quick-links h4 span {
         background-position: -107px -282px;
         height: 16px;
         position: absolute;
         right: 15px;
         top: 6px;
         width: 8px;
         opacity: .1
         }
         .quick-links h4:hover span {
         opacity: .4;
         }
         .quick-links ul {
         padding: 5px 15px;
         }
         .quick-links li {
         background-position: -100px -301px;
         border-top: 1px dotted #f0f0f0;
         display: block;
         font-size: 12px;
         font-weight: 400;
         padding: 8px 0 8px 20px;
         }
         .quick-links li:first-child {
         border: none;
         }
         .quick-links a {
         color: #333;
         }
         .ql-open {
         background-color: rgba(255, 255, 255, 1);
         background-position: -98px -275px;
         border: 1px solid #bbb;
         cursor: pointer;
         height: 30px;
         line-height: 30px;
         margin-top: -95px;
         opacity: 1;
         padding: 0 0 0 24px;
         position: fixed;
         right: -120px;
         top: 50%;
         transition: all 1s ease 1s;
         width: 70px;
         z-index: 1000;
         font-size: 13px;
         color: #333;
         font-size: 11px;
         text-transform: uppercase;
         }
         .quick-links .selected {
         color: #00add5;
         opacity: 0.5;
         }
         @media screen and (max-width: 900px) {
         .ql-open div {
         display: none;
         }
         .ql-open {
         background-position: -98px -277px;
         height: 16px;
         line-height: normal;
         padding: 6px 8px;
         width: 8px;
         }
         }
         /* End of Quick Links CSS */
         /* ======================================================================== 
         video popup play
         ========================================================================== */		
         .video-player {
         background: rgba(255, 255, 255, 0.95);
         display: none;
         height: 100%;
         position: fixed;
         top: 0;
         width: 100%;
         z-index: 999;
         }
        
         
         .banner-part {
         background-image: url(../images/reports-bg.jpg);
         }
         .banner-part:before {
         background: rgba(0,0,0,0.25)
         }
         .product-logo, .features li span, .testimonial .customer1, .testimonial .customer2, .signupHeadFadeIn span {
         background-image: url('../images/reports-sprite1.png');
         background-repeat: no-repeat;
         display: inline-block;
         }
         .features li span {
         background-image: url('../images/reports-home-sprite.png');
         background-repeat: no-repeat;
         display: inline-block;
         }
         .features li > div span {
         height: 60px;
         width: 67px;
         }
         .feature-icon1 {
         background-position: 2px 0;
         }
         .feature-icon2 {
         background-position: -74px 0;
         }
         .feature-icon3 {
         background-position: -152px 0;
         }
         .feature-icon4 {
         background-position: -238px 0;
         }
         .feature-icon5 {
         background-position: -314px 0;
         }
         .feature-icon6 {
         background-position: -398px 0;
         }
         .feature-icon7 {
         background-position: -474px 0;
         }
         .feature-icon8 {
         background-position: -561px 0;
         }
         .feature-icon9 {
         background-position: -626px 0;
         }
         .feature-icon10 {
         background-position: -724px 0;
         }
         
         
         
        
         
         .empty.accordion_in {
  display: none;
}

.error-msg {
  height: 50px;
  width: 100%;
  color:red;
}

input[type="email"] {
  background-color: #ffffff;
  background-image: url("/WeekyReport/faces/rfRes/inputBackgroundImage.png?v=4.2.2.Final&db=eAFjZL!AyMDN-P8!4!-P714C6f!!GZgAYeQKqw__&ln=org.richfaces.images");
  background-position: 1px 1px;
  background-repeat: no-repeat;
  border-color: #c4c0b9;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  font-family: Arial,Verdana,sans-serif;
  font-size: 11px;
}

.header-menu {
  height: 40px;
  position: relative;
  top: 5px;
  width: 186px;
}

.header-menu li {
  display: inline;
  float: left;
  margin-left: 10px;
}

.logout.buttons {
  background-color: #f0483e !important;
  border-radius: 4px !important;
  color: white !important;
  background-image: none !important;
}

li.info {
  color: green;
}

.list-box {
  background: #fff none repeat scroll 0 0;
  border: 5px solid #ececec;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
  height: auto;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  transition: all 0.7s ease 0s;
  width: 90%;
}

.buttons.add-popup {
  margin-bottom: 20px;
  margin-left: 38px;
}

.rf-dt {
	
	width: 96%;
	
<<<<<<< HEAD
}

.mblock {
  float: left;
  width: 100%;
}

.mblock-head {
  color: white;
  float: left;
  margin-right: 10px;
  font-size:20px;
}

.buttons {
  background-color: #f0483e !important;
  background-image: none !important;
  border: 1px solid #f0483e !important;
  border-radius: 3px !important;
  color: #fff !important;
  cursor: pointer;
  font-size: 12px !important;
  height: 30px;
  margin-right: 5px;
  min-width: 75px;
  overflow: hidden;
  padding: 0 6px !important;
  text-transform: capitalize;
  white-space: nowrap;

}

.select_week_users {
  height: 60px;
 
}

.label {
  float: left;
  font-weight: bold !important;
  height: 50px;
  width: 100px;
}

.select-week {
  float: left;
  height: 28px;
  width: 100px;
}

.buttons.fetch-users {
  margin-left: 35px;
}

#reportDetails > ul {
  float: left;
  height: 20px;
  position: relative;
  width: 100%;
}
